@use './detail.module'; //use를 사용해서 변수에 접근가능 $header-height, $section-padding-top

.map {
  width: 100%;
  height: 100%;

  // naver logo control 위치 조정
  & > div:nth-of-type(2) {
    bottom: detail.$header-height + detail.$section-padding-top !important;
  }
}
